[submodule "vim/stable/ctrlp.vim"]
	path = vim/core/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/stable/vim-pathogen"]
	path = vim/core/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/stable/vim-surround"]
	path = vim/core/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/stable/vim-repeat"]
	path = vim/core/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/stable/vim-speeddating"]
	path = vim/core/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "vim/stable/vim-ragtag"]
	path = vim/extra/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/stable/vim-unimpaired"]
	path = vim/core/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/stable/vimtex"]
	path = vim/extra/vimtex
	url = git://github.com/lervag/vimtex.git
[submodule "vim/stable/vim-commentary"]
	path = vim/core/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/core/vim-vinegar"]
	path = vim/core/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/core/vim-abolish"]
	path = vim/core/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/core/vim-sleuth"]
	path = vim/core/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim/core/vim-eunuch"]
	path = vim/core/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/core/vim-endwise"]
	path = vim/core/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/core/vim-scriptease"]
	path = vim/core/vim-scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "vim/core/vim-characterize"]
	path = vim/core/vim-characterize
	url = git://github.com/tpope/vim-characterize.git
[submodule "vim/core/vim-sensible"]
	path = vim/core/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/extra/vim-dispatch"]
	path = vim/core/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/extra/vim-projectionist"]
	path = vim/extra/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "vim/community/vim-dotoo"]
	path = vim/community/vim-dotoo
	url = git://github.com/dhruvasagar/vim-dotoo.git
[submodule "vim/community/vim-table-mode"]
	path = vim/community/vim-table-mode
	url = git://github.com/dhruvasagar/vim-table-mode.git
[submodule "vim/extra/vim-flagship"]
	path = vim/core/vim-flagship
	url = git://github.com/tpope/vim-flagship.git
[submodule "vim/extra/syntastic"]
	path = vim/extra/syntastic
	url = git://github.com/vim-syntastic/syntastic.git
[submodule "vim/extra/vim-argumentative"]
	path = vim/core/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative.git
[submodule "vim/extra/tabular"]
	path = vim/core/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/extra/vim-indent-object"]
	path = vim/core/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/community/badwolf"]
	path = vim/community/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/core/vim-fugitive"]
	path = vim/core/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/testing/tagbar"]
	path = vim/core/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/extra/vim-tbone"]
	path = vim/extra/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "vim/extra/vim-jdaddy"]
	path = vim/extra/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "vim/community/vim-vividchalk"]
	path = vim/community/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/testing/VimCompletesMe"]
	path = vim/testing/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "vim/extra/vim-python-pep8-indent"]
	path = vim/extra/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/extra/vim-signify"]
	path = vim/community/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/community/molokai"]
	path = vim/community/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/community/typescript-vim"]
	path = vim/community/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/community/vim-pandoc"]
	path = vim/extra/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/community/vim-pandoc-syntax"]
	path = vim/community/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vim/community/vim-srcery"]
	path = vim/community/vim-srcery
	url = https://github.com/roosta/vim-srcery.git
[submodule "vim/community/harlequin"]
	path = vim/community/harlequin
	url = https://github.com/nielsmadan/harlequin.git
[submodule "vim/community/vim-signify"]
	path = vim/community/vim-signify
	url = https://github.com/mhinz/vim-signify.git
